<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/layout.js"></script>
</head>
<body>
<div class="screen">
    <div class="group">
        <div class="div">게시판</div>
        <a href="/login" class="text-wrapper" id="loginLink">로그인</a>
        <a href="/signup" class="frame" id="signupLink">
            <div class="text-wrapper-4">회원가입</div>
        </a>
        <a href="/logout" class="frame" id="logoutLink" style="display: none">
            <div class="text-wrapper-4">로그아웃</div>
        </a>
    </div>
    <div class="overlap">
        <div class="group-2">
            <button class="button">
                <div class="text-wrapper-2">사용해보기</div>
            </button>
            <div class="overlap-group">
                <img class="element" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-20-211216-1.png" />
                <p class="URL">유튜브 URL 입력만으로<br />가짜뉴스 및 허위정보를 담고 있는 영상인지 확인해보세요!</p>
                <div class="FAKE-NEWS-DETECTER">FAKE NEWS<br />DETECTER</div>
            </div>
        </div>
        <img class="img" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161402-1.png" />
        <img class="element-2" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161343-1@2x.png" />
        <img class="element-3" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161057-1@2x.png" />
        <img class="image" src="https://c.animaapp.com/TFf1ian7/img/image4@2x.png" />
        <img class="image-2" src="https://c.animaapp.com/TFf1ian7/img/image2@2x.png" />
        <img class="image-3" src="https://c.animaapp.com/TFf1ian7/img/image3.png" />
        <img class="element-4" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161237-1@2x.png" />
    </div>
    <div class="text-wrapper-3">요금 안내</div>
    <a class="text-wrapper" href="/">
        <img class="element-5" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-165404-1@2x.png" />
    </a>
</div>
</body>
</html>