<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/login.css" />
    <script type="text/javascript" src="js/layout.js"></script>
</head>

<body>
    <div class="screen">
        <div class="group">
            <div class="div">게시판</div>
            <a href="/login" class="text-wrapper" id="loginLink">로그인</a>
            <a href="/signup" class="frame" id="signupLink">
                <div class="text-wrapper-4">회원가입</div>
            </a>
            <a href="/logout" class="frame" id="logoutLink" style="display: none">
                <div class="text-wrapper-4">로그아웃</div>
            </a>
        </div>
        <div class="overlap">
            <img class="img" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161402-1.png" />
            <img class="element-2" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161343-1@2x.png" />
            <img class="element-3" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161057-1@2x.png" />
            <img class="image" src="https://c.animaapp.com/TFf1ian7/img/image4@2x.png" />
            <img class="image-2" src="https://c.animaapp.com/TFf1ian7/img/image2@2x.png" />
            <img class="image-3" src="https://c.animaapp.com/TFf1ian7/img/image3.png" />
            <img class="element-4" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-161237-1@2x.png" />
            <div class="login-container">
                <h1 class="login-title">로그인</h1>
                <form class="login-form" onsubmit="handleLoginSubmit(event)">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" id="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]" required placeholder="이메일을 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" required placeholder="비밀번호를 입력하세요">
                    </div>
                    <button type="submit" class="login-button">로그인</button>
                </form>
            </div>
        </div>
        <div class="text-wrapper-3">요금 안내</div>
        <a class="text-wrapper" href="/">
            <img class="element-5" src="https://c.animaapp.com/TFf1ian7/img/-----2025-01-22-165404-1@2x.png" />
        </a>
    </div>
    <script type="text/javascript">
        // 로그인 폼 제출 처리 함수
        function handleLoginSubmit(event) {
            event.preventDefault(); // 폼 제출 기본 동작 방지

            const formData = {
                email: document.getElementById('email').value,
                password: document.getElementById('password').value
            };

            // 로그인 요청을 POST 방식으로 보냄
            fetch('/login', {
                method: 'POST',  // 요청 방식은 'POST'
                headers: {
                    'Content-Type': 'application/json',  // 서버가 JSON을 처리하도록
                },
                body: JSON.stringify(formData), // JSON 형식으로 데이터 전송
            })
                .then(response => {
                    if (response.ok) {
                        // 서버에서 Authorization 헤더에서 JWT를 가져옴
                        const token = response.headers.get('Authorization');
                        if (token) {
                            // JWT를 localStorage에 저장
                            localStorage.setItem('token', token.replace('Bearer ', ''));  // 'Bearer ' 접두어 제거하고 저장

                            alert('로그인 성공!');
                            // 로그인 성공 후 /home 페이지로 이동
                            window.location.href = '/';  // 로그인 성공 후 이동할 페이지
                        } else {
                            alert('로그인 실패: 토큰이 반환되지 않았습니다.');
                        }
                    } else {
                        return response.json().then(data => {
                            alert('로그인 실패: ' + data.message);
                        });
                    }
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                    alert('서버와의 통신에 문제가 발생했습니다.');
                });
        }
    </script>
</body>

</html>